/* .flexbox-container{
    display: flex;
    /* background-color: rgb(55, 62, 71);
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between; */
    /* flex-direction: column;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}
.flexbox-item-1{
    min-height: 100px;
}
.flexbox-item-2{
    min-height: 200px;
}
.flexbox-item-3{
    min-height: 300px;
}
.flexbox-item-4{
    min-height: 100px;
}
.flexbox-item-5{
    min-height: 100px;
/* } */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;

}